
<nb-card>
  <nb-card-header>
    <h3></h3>
  </nb-card-header>
  <nb-card-body>

    <nb-tabset>
      <nb-tab tabTitle="Resumo Diário">
        <div class="row">
          <div class="col-md-12">
            Data:
            <input nbInput placeholder="Hoje" [nbDatepicker]="dateTimePicker" [ngModel]="dataSelecionada" (ngModelChange)="changeDataSelecionada(dataSelecionada,$event)"><nb-datepicker #dateTimePicker format="dd/MMM/yyyy"></nb-datepicker>&nbsp;&nbsp;&nbsp;
            <button nbButton (click)="refreshResumo()"><i class="fas fa-sync"></i>&nbsp;Atualizar &nbsp;&nbsp;<span #atu></span></button> &nbsp;&nbsp;
          </div>
        </div>
        <BR><BR>

        <table cellspacing="0" border="0">
          <colgroup width="60"></colgroup>
          <colgroup width="224"></colgroup>
          <colgroup width="123"></colgroup>
          <colgroup width="88"></colgroup>
          <colgroup width="521"></colgroup>
          <colgroup width="137"></colgroup>
          <colgroup width="141"></colgroup>
          <colgroup width="250"></colgroup>
          <tr>
            <td class="td-top-left   text-center"  valign=middle height="28">ID</td>
            <td class="td-top-middle text-center"  valign=middle>WF</td>
            <td class="td-top-middle text-center"  valign=middle>Canal</td>
            <td class="td-top-middle text-center"  valign=middle>IDM</td>
            <td class="td-top-middle"              valign=middle>Mensagem</td>
            <td class="td-top-middle text-right"   valign=middle>Qtd. Dia</td>
            <td class="td-top-middle text-right"   valign=middle>Enviados</td>
            <td class="td-top-right  text-center"  valign=middle>%</td>
          </tr>
          <tr *ngFor="let r of resumo">
            <td class="td-middle-left   text-center"                     valign=middle>{{r?.ids}}</td>
            <td class="td-middle-middle text-center"                     valign=middle>{{r?.wf}}</td>
            <td class="td-middle-middle text-center  verde font-regular" valign=middle>{{r?.canal}}</td>
            <td class="td-middle-middle text-center"                     valign=middle>{{r?.idm}}</td>
            <td class="td-middle-middle font-regular verde espaço"       valign=middle>{{r?.mensagem}}</td>
            <td class="td-middle-middle text-right   verde font-regular" valign=middle>{{r?.qtd_Dia | number:'0.':'pt-BR'}}</td>
            <td class="td-middle-middle text-right   verde font-regular" valign=middle>{{r?.enviado | number:'0.':'pt-BR'}}</td>
            <td class="td-middle-right  text-center  verde font-regular" valign=middle>{{r?.percentual_Dec | number:'0.1':'pt-BR'}}%</td>
          </tr>
          <tr>
            <td class="td-bottom-left"   colspan="5" height="55" valign=middle>Total Geral</td>
            <td class="td-bottom-middle  text-right" valign=middle>{{qtd_Dia_Total | number:'0.':'pt-BR'}}</td>
            <td class="td-bottom-middle  text-right" valign=middle>{{enviado_Total | number:'0.':'pt-BR'}}</td>
            <td class="td-bottom-right  text-center" valign=middle>{{percentual_Dec_Total | number:'0.1':'pt-BR'}}%</td>
          </tr>
        </table>

      </nb-tab>
      <nb-tab tabTitle="Resumo Faixa Datas">

      </nb-tab>

    </nb-tabset>

  </nb-card-body>
  <nb-card-footer>
  </nb-card-footer>
</nb-card>

