<form [formGroup]="formSolicitacao">
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <nb-form-field>
          <div class="form-group">
            <label for="idSolicitacao_PUSH" class="label">N° Solicitação:</label>
            <input formControlName="idSolicitacao_PUSH" type="text" nbInput fullWidth id="idSolicitacao_PUSH"
              placeholder="Numeração automática" disabled>
            <!-- <input type="text" nbInput fullWidth id="matricula"  placeholder="Matricula (c999999 ou p999999 ou f999999)"> -->
          </div>
        </nb-form-field>
      </div>
    </div>

    <div class="col-md-10">
      <div class="form-group">
        <label for="Nome_Solicitacao" class="label">Nome/Assunto Solicitação:</label>
        <input formControlName="nome_Solicitacao" type="text" nbInput fullWidth id="nome_Solicitacao"
          placeholder="Descreva suscintamente o objetivo do envio dessa mensagem"
          [status]="(f.nome_Solicitacao.touched && f.nome_Solicitacao.errors) ? 'danger': 'info'">
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <nb-form-field>
          <div class="form-group">
            <label for="REQ_WO_Aprovacao_Mensagem" class="label">REQ Aprovação Mensagem:</label>
            <input formControlName="reQ_WO_Aprovacao_Mensagem" #Ref_REQ_WO_Aprovacao_Mensagem type="text" nbInput fullWidth
              id="REQ_WO_Aprovacao_Mensagem" placeholder="Número da REQ da aprovação da mensagem"
              (blur)="Ref_REQ_WO_Aprovacao_Mensagem.value = Ref_REQ_WO_Aprovacao_Mensagem.value.toUpperCase()"
              (keyup)="Ref_REQ_WO_Aprovacao_Mensagem.value = Ref_REQ_WO_Aprovacao_Mensagem.value.toUpperCase()"
              [status]="(f.reQ_WO_Aprovacao_Mensagem.touched && f.reQ_WO_Aprovacao_Mensagem.errors) ? 'danger': 'info'">
            <!-- <input type="text" nbInput fullWidth id="matricula"  placeholder="Matricula (c999999 ou p999999 ou f999999)"> -->
          </div>
        </nb-form-field>
      </div>
    </div>


    <div class="col-md-2">
      <div class="form-group">
        <nb-form-field>
          <div class="form-group">
            <label for="WF_GECRM" class="label">WF GECRM (N° Workflow da Base de Dados):</label>
            <input formControlName="wF_GECRM" type="text" nbInput fullWidth id="WF_GECRM"
              placeholder="N° do WF da base fornecida pela GECRM">
            <!-- <input type="text" nbInput fullWidth id="matricula"  placeholder="Matricula (c999999 ou p999999 ou f999999)"> -->
          </div>
        </nb-form-field>
      </div>
    </div>


    <div class="col-md-8">
      <div class="form-group">
        <label for="Mensagem" class="label">Mensagem:</label>
        <div class="container">
          <textarea formControlName="mensagem" #message type="text" nbInput fullWidth id="Mensagem" height="4em"
            placeholder="Mensagem a ser enviada ao cliente, aprovada conforme MN CO 303"
            [status]="(f.mensagem.touched && f.mensagem.errors) ? 'danger': 'info'"></textarea>
          <button (click)="isEmojiPickerVisible = !isEmojiPickerVisible;">😀</button>
        </div>
        <div class="meio">
          <emoji-mart
              *ngIf="isEmojiPickerVisible"
              class="emoji-mart"
              (emojiSelect)="addEmoji($event)"
              title="Escolha o emoji"
              [i18n]="I8N_TRADUCAO"
          ></emoji-mart>
        </div>
        <!-- <nb-select fullWidth id="role" name="role" >
          <nb-option *ngFor="let r of userService.roles;" [value]="r.idRole">{{r.nome_Role}}</nb-option>
        </nb-select> -->
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-2">
      <div class="form-group">
        <nb-form-field>
          <div class="form-group">
            <label for="idTipoMensagem" class="label">Tipo de Mensagem:</label>
            <nb-select formControlName="idTipoMensagem" fullWidth id="Canal" name="idTipoMensagem" value="1">
              <!--  -->
              <nb-option [value]="1" selected>Mensagem única / estática</nb-option>
              <!-- <nb-option value="2">Mensagem Dinâmica</nb-option> -->
            </nb-select>
            <!-- <input type="text" nbInput fullWidth id="matricula"  placeholder="Matricula (c999999 ou p999999 ou f999999)"> -->
          </div>
        </nb-form-field>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <nb-form-field>
          <div class="form-group">
            <label for="Canal" class="label">Canal destino:</label>
            <nb-select formControlName="canal" fullWidth id="Canal" name="Canal"
              [status]="(f.canal.touched && f.canal.errors) ? 'danger': 'info'"
            >
              <!--  -->
              <nb-option value="ibc">IBC</nb-option>
              <nb-option value="caixatem" selected>CAIXA Tem</nb-option>
              <!-- <nb-option value="cartao">App Cartões</nb-option> -->
            </nb-select>
            <!-- <input type="text" nbInput fullWidth id="matricula"  placeholder="Matricula (c999999 ou p999999 ou f999999)"> -->
          </div>
        </nb-form-field>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <nb-form-field>
          <div class="form-group">
            <label for="Quantidade_Total" class="label">Quantidade de Mensagens:</label>
            <input formControlName="quantidade_Total" type="text" nbInput fullWidth id="Quantidade_Total"
              placeholder="Estimativa da quantidade de PUSH a ser enviados aos clientes "
              [status]="(f.quantidade_Total.touched && f.quantidade_Total.errors) ? 'danger': 'info'">
            <!-- <input type="text" nbInput fullWidth id="matricula"  placeholder="Matricula (c999999 ou p999999 ou f999999)"> -->
          </div>
        </nb-form-field>
      </div>
    </div>


    <div class="col-md-2">
      <div class="form-group">
        <nb-form-field>
          <div class="form-group">
            <label for="Limitacao_Tranche" class="label">Limite por tranche (a cada 30min):</label>
            <input formControlName="limitacao_Tranche" type="text" nbInput fullWidth id="Limitacao_Tranche"
              placeholder="Qtd. acordada com a GEPTI"
              [status]="(f.limitacao_Tranche.touched && f.limitacao_Tranche.errors) ? 'danger': 'info'">
            <!-- <input type="text" nbInput fullWidth id="matricula"  placeholder="Matricula (c999999 ou p999999 ou f999999)"> -->
          </div>
        </nb-form-field>
      </div>
    </div>



    <div class="col-md-6">
      <div class="form-group">
        <nb-form-field>
          <div class="form-group">
            <label for="impactos_Previstos" class="label">Impactos previstos ao enviar essa mensagem (em serviços /
              API
              / Canais / Sistemas):</label>
            <textarea formControlName="impactos_Previstos" type="text" nbInput fullWidth id="impactos_Previstos"
              height="4.5em"
              placeholder="Descrever possíveis impactos caso uma quantidade muito grande de clientes acessar o app simultaneamente para procurar/aderir/comprar o objeto da mensagem. Ex.: É experado quando se manda uma mensagem sobre saque FGTS que isso cause busca no app CAIXA Tem aos serviços de FGTS, impactando o canal CAIXA Tem e à API FGTS."
              [status]="(f.impactos_Previstos.touched && f.impactos_Previstos.errors) ? 'danger': 'info'"></textarea>
          </div>
        </nb-form-field>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <nb-form-field>
          <div class="form-group">
            <label for="enviar_a_partir_de" class="label">Enviar a partir de (Data):</label>
            <input formControlName="enviar_a_partir_de" type="text" nbInput fullWidth
              [nbDatepicker]="dpEnviar_a_partir_de" id="enviar_a_partir_de" placeholder="Não enviar antes de"
              >
            <nb-datepicker #dpEnviar_a_partir_de format="dd/MMM/YYYY" [filter]="filterDataDe"></nb-datepicker>
          </div>
        </nb-form-field>
      </div>
    </div>


    <div class="col-md-2">
      <div class="form-group">
        <nb-form-field>
          <div class="form-group">
            <label for="enviar_no_maximo_ate" class="label">Enviar até no máximo (Data):</label>
            <input formControlName="enviar_no_maximo_ate" type="text" nbInput fullWidth
              [nbDatepicker]="dpEnviar_no_maximo_ate" id="enviar_no_maximo_ate" placeholder="Não enviar depois de"
              >
            <nb-datepicker #dpEnviar_no_maximo_ate format="dd/MMM/YYYY" [filter]="filterDataAte"></nb-datepicker>
          </div>
        </nb-form-field>
      </div>
    </div>

    <div class="col-md-2">
      <div class="form-group">
        <nb-form-field>
          <div class="form-group">
            <label for="enviar_Horario_InicialFormatado" class="label">Janela horária - a partir de (Hora
              início):</label>
            <input formControlName="enviar_Horario_InicialFormatado" type="text" nbInput fullWidth
              [nbTimepicker]="tpEnviar_Horario_Inicial" id="enviar_Horario_InicialFormatado"
              placeholder="Hora ideal de iniciar">
            <nb-timepicker #tpEnviar_Horario_Inicial singleColumn [step]="30"></nb-timepicker>
          </div>
        </nb-form-field>
      </div>
    </div>


    <div class="col-md-2">
      <div class="form-group">
        <nb-form-field>
          <div class="form-group">
            <label for="enviar_Horario_FinalFormatado" class="label">Janela horária - no máximo até (Hora
              final):</label>
            <input formControlName="enviar_Horario_FinalFormatado" type="text" nbInput fullWidth
              [nbTimepicker]="tpEnviar_Horario_Final" id="enviar_Horario_FinalFormatado"
              placeholder="Hora máxima de enviar">
            <nb-timepicker #tpEnviar_Horario_Final singleColumn [step]="30"></nb-timepicker>
          </div>
        </nb-form-field>
      </div>
    </div>


    <div class="col-md-4">
      <div class="form-group">
        <nb-form-field>
          <div class="form-group">
            <label for="Dias_da_semana" class="label">Dias da semana para envio:</label>
            <input type="text" nbInput fullWidth id="Enviar_Horario_Inicial" placeholder="" hidden> <BR>
            <nb-toggle formControlName="enviar_SEG" status="success">Seg</nb-toggle>&nbsp;
            <nb-toggle formControlName="enviar_TER" status="success">Ter</nb-toggle>&nbsp;
            <nb-toggle formControlName="enviar_QUA" status="success">Qua</nb-toggle>&nbsp;
            <nb-toggle formControlName="enviar_QUI" status="success">Qui</nb-toggle>&nbsp;
            <nb-toggle formControlName="enviar_SEX" status="success">Sex</nb-toggle>&nbsp;
            <nb-toggle formControlName="enviar_SAB" status="success">Sáb</nb-toggle>&nbsp;
            <nb-toggle formControlName="enviar_DOM" status="success" disabled>Dom</nb-toggle>&nbsp;
          </div>
        </nb-form-field>
      </div>
    </div>


    <div class="col-md-2">
      <div class="form-group">
        <nb-form-field>
          <div class="form-group">
            <label for="Limite_Mensagens_Por_Dia" class="label">Limite de mensagens por dia:</label>
            <input formControlName="Limite_Mensagens_Por_Dia" type="text" nbInput fullWidth
              id="Limite_Mensagens_Por_Dia" placeholder="Qtd. Máxima por Dia">
          </div>
        </nb-form-field>
      </div>
    </div>


  </div>

</form>
