<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore requestTimeout="80:00:00" processPath=".\PushAPI.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" userName="" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="SPA Routes" stopProcessing="true">
          <!-- match everything by default -->
          <match url="^/gecdi" />
          <!-- rewrite it to /index.html -->
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime executionTimeout="86400" maxRequestLength="150000000" useFullyQualifiedRedirectUrl="false" />
  </system.web>
</configuration>
<!--ProjectGuid: 8ba3ca6a-164b-4c86-bb73-29a10da67238-->