<div class="row">

  <div class="col-md-12">
    <div class="row">

      <nb-card>
        <nb-card-header>
          <h1><i class="fa fa-clipboard-list"></i> Minhas Solicitações de PUSH</h1>
        </nb-card-header>

        <nb-card-body>
          <div class="row">
            <div class="col-md-12">
              <button nbButton (click)="novaSolicitacao(true)" class="align-middle"><i class="fas fa-plus"></i>&nbsp;Nova Solicitação &nbsp;&nbsp;<span #atu></span></button>&nbsp;&nbsp;
              <button nbButton (click)="refreshSolicitacoes(false)" class="align-middle"><i class="fas fa-sync"></i>&nbsp;Atualizar &nbsp;&nbsp;<span #atu></span></button>&nbsp;&nbsp;
              <nb-toggle [ngModel]="OrdemSolicitacoes" status="primary"  (change)="refreshSolicitacoes(true)" class="align-middle">Ordenar pelo solicitação mais recente</nb-toggle> &nbsp;&nbsp;
              <nb-toggle [(ngModel)]="SoFila" status="primary" (change)="refreshSolicitacoes(true)" class="align-middle">Só os não atendidos</nb-toggle>&nbsp;&nbsp;
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              Busca ID:
              <input #buscaID [(ngModel)]="idSol" type="text" nbInput id="idSol"
                  placeholder="Digite o ID da Solicitação de PUSH"
                  (ngModelChange)="findId($event)"
              >
              <button nbButton (click)="buscaID.value=null; refreshSolicitacoes(false,null)" ><nb-icon icon="close-outline" pack="eva"></nb-icon></button>&nbsp;&nbsp;&nbsp;
            </div>
          </div>

          <table class="table">
            <thead class="row-title">
              <tr class="row-title">
                <td scope="col">ID<BR>Sol.</td>
                <td scope="col">Edit</td>
                <td scope="col">Data</td>
                <td scope="col">Nome</td>
                <td scope="col">WF / REQ</td>
                <td scope="col">ID<BR>Msg</td>
                <td scope="col">Mensagem</td>
                <td scope="col">Canal</td>
                <td scope="col dir">Qtd. / Qtd.<BR>Env.</td>
                <td scope="col dir">Qtd.<BR>Ag. / Fila</td>
                <td scope="col">De/Ate</td>
                <td scope="col">Horário</td>
                <td scope="col">Impactos</td>
                <td scope="col">Au torizado</td>
                <td scope="col">Can ce lado</td>
                <td scope="col">Upload</td>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let s of solicitacao; let i = index ;" [ngClass]="checkRow(s) + ' hand'">
                <th scope="row" class="no-wrap"           (click)="rowClick(s,i)">{{s?.idSolicitacao_PUSH}}</th>
                <th scope="row" class="no-wrap"           (click)="rowClick(s,i)"><i class="fas fa-pen" *ngIf="!s?.autorizacao_Gestor_PUSH && !s?.cancelado"></i></th>
                <td scope="row" class="no-wrap"           (click)="rowClick(s,i)">{{s?.data_Cadastramento  | date:'dd/MMM/yy'}}</td>
                <td scope="row" class="mensagem-limite10" (click)="rowClick(s,i)">{{s?.nome_Solicitacao}}</td>
                <td scope="row" class="no-wrap"           (click)="rowClick(s,i)">{{s?.wF_GECRM}} <BR> {{s?.reQ_WO_Aprovacao_Mensagem}}</td>
                <td scope="row" class="no-wrap dir"       (click)="rowClick(s,i)">{{s?.idEnvio_Mensagem}}</td>
                <td scope="row" class="mensagem-limite30" (click)="rowClick(s,i)">{{s?.mensagem}}</td>
                <td scope="row" class="no-wrap"           (click)="rowClick(s,i)">{{s?.canal}}</td>

                <td scope="row" class="no-wrap dir nowrap"       (click)="rowClick(s,i)">
                  {{s?.quantidade_Total | number:'0.':'pt-BR'}} <i *ngIf="s?.e_Cadastramento_Manual" class="fa fa-hourglass red" ></i><BR>
                  {{s?.quantidade_Enviada | number:'0.':'pt-BR'}}
                </td>

                <td scope="row" class="no-wrap dir"       (click)="rowClick(s,i)">
                  {{s?.quantidade_Agendada | number:'0.':'pt-BR'}}<BR>
                  <b class="brown">{{s?.quantidade_Total_Restante > 0 ? (s?.quantidade_Total_Restante | number:'0.':'pt-BR') : 'Finalizando'}}</b>
                </td>

                <td scope="row" class="no-wrap"           (click)="rowClick(s,i)">{{s?.enviar_a_partir_de  | date:'dd/MMM/yy'}}<BR>{{s?.enviar_no_maximo_ate  | date:'dd/MMM/yy'}}</td>
                <td scope="row" class="no-wrap"           (click)="rowClick(s,i)">
                    {{s?.enviar_Horario_Inicial }}<BR>
                    {{s?.enviar_Horario_Final  }}
                </td>
                <td scope="row" class="mensagem-limite10" (click)="rowClick(s,i)">{{s?.impactos_Previstos}}</td>

                <td scope="row"                         (click)="rowClick(se)">
                  <nb-toggle [ngModel]="s?.autorizacao_Gestor_PUSH" disabled status="success"></nb-toggle>
                  <!-- <nb-checkbox [ngModel]="e?.enviado" (ngModelChange)="changeCheckEnviado(e,$event)" status="primary"></nb-checkbox> -->
                </td>

                <td scope="row"                         (click)="rowClick(s)">
                  <nb-toggle [ngModel]="s?.cancelado" disabled status="warning"></nb-toggle>
                  <!-- <nb-checkbox [ngModel]="e?.enviado" (ngModelChange)="changeCheckEnviado(e,$event)" status="primary"></nb-checkbox> -->
                </td>

                <td scope="row"  (click)="rowClick(se)">
                  <button nbButton ghost (click)="viewClients(s,$event)"><i  class="fa fa-list" status="primary"></i></button>
                  <button *ngIf="!s?.autorizacao_Gestor_PUSH" nbButton ghost (click)="uploadFile(s,$event)"><nb-icon size="2" icon="cloud-upload-outline" pack="eva" status="primary"></nb-icon></button>
                  <div *ngIf="s?.solicitacao_Upload[0]?.idSolicitacao_Upload > 0">
                    <b>{{ s?.solicitacao_Upload[0]?.processado ? 'Processado' : 'Aguardando' }}</b><BR>
                    <span *ngIf="s?.solicitacao_Upload[0]?.processado" class="nowrap" >
                        <i class="fas fa-thumbs-up   blue"></i>&nbsp;<b>{{ s?.solicitacao_Upload[0]?.registros_Aceitos  | number:'0.':'pt-BR' }}</b><BR>
                        <i class="fas fa-thumbs-down red" ></i>&nbsp;<b>{{ s?.solicitacao_Upload[0]?.registros_Rejeitados  | number:'0.':'pt-BR' }}</b>
                    </span>
                  </div>
                </td>

              </tr>
            </tbody>


          </table>

        </nb-card-body>

        <nb-card-footer>
          Legenda:<BR>
          <i class="fas fa-pen"></i> Solicitação pode ser editada&nbsp;&nbsp;
          <i class="fa fa-hourglass red" ></i>&nbsp;Base ainda não carregada&nbsp;&nbsp;
          <nb-icon size="2" icon="cloud-upload-outline" pack="eva" status="primary"></nb-icon>&nbsp;Botão de upload de arquivo&nbsp;&nbsp;
          <i class="fas fa-thumbs-up blue"></i>&nbsp;Registros carregados do arquivo e aceitos&nbsp;&nbsp;
          <i class="fas fa-thumbs-down red" ></i>&nbsp;Registros do arquivo rejeitados&nbsp;&nbsp;
        </nb-card-footer>
      </nb-card>

    </div>
  </div>

</div>


<ngx-dialog-solicitacao #diag  width="90%" [solicitacao]="solicitacaoAtual" (onadd)="refreshSolicitacoes(false)"></ngx-dialog-solicitacao>
