<div class="row">

  <div class="col-md-12">
    <div class="row">


      <nb-card>
        <nb-card-header>
          <h1><i class="fa fa-file-export"></i> Envios de PUSH</h1>
        </nb-card-header>

        <nb-card-body>
          <div class="row">
            <div class="col-md-12">
              Data:
              <input nbInput placeholder="Hoje" [nbDatepicker]="dateTimePicker" [ngModel]="dataSelecionada"
                (ngModelChange)="changeDataSelecionada(dataSelecionada,$event)">
              <nb-datepicker #dateTimePicker format="dd/MMM/yyyy"></nb-datepicker>&nbsp;&nbsp;&nbsp;
              <button nbButton (click)="refreshEnvios()"><i class="fas fa-sync"></i>&nbsp;Atualizar &nbsp;&nbsp;<span
                  #atu></span></button> &nbsp;&nbsp;
              <nb-toggle [ngModel]="SoDoDia" status="primary" (change)="refreshEnvios(true)" class="align-middle">Só
                Envios do Dia</nb-toggle> &nbsp;&nbsp;
              <button nbButton (click)="refreshEnvios(null,true)"><i class="fas fa-calculator"></i>&nbsp;Simular Envio
                &nbsp;&nbsp;<span #atu></span></button> &nbsp;&nbsp;
            </div>
          </div>
          <BR><BR>
          <!-- <div class="float-right">Atualizado até <b>{{ parametros?.dDataHoraAtualizacao |  date:'dd/LL/yyyy HH:mm'  }}</b></div> -->
          <table class="table">
            <thead class="row-title">
              <tr class="row-title">
                <td scope="col">Hom</td>
                <td scope="col">ID<BR>Envio</td>
                <td scope="col">ID<BR>Sol.</td>
                <td scope="col">WF</td>
                <td scope="col">Data</td>
                <td scope="col">Hora</td>
                <td scope="col">Mensagem</td>
                <td scope="col">Qtd</td>
                <td scope="col">Arquivo</td>
                <td scope="col">Impactos<BR>Previstos</td>
                <td scope="col" *ngIf="[1,3].indexOf(usuario.user.idRole)>=0">Enviado</td>
                <td scope="col">Extras</td>
                <td scope="col" *ngIf="usuario.user.idRole===1">Cancelado</td>
                <td scope="col" *ngIf="usuario.user.idRole===1">Excluir</td>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let e of envios; let i = index;" [ngClass]="checkRow(e) + ' hand'">
                <th scope="row" class="no-wrap" (click)="rowClick(e,i,dialogDetalhes)">
                  <nb-icon *ngIf="e?.homologado" icon="checkmark-square-outline" pack="eva" status="primary"></nb-icon>
                </th>
                <th scope="row" class="no-wrap" (click)="rowClick(e,i,dialogDetalhes)">
                  {{e?.idSolicitacao_Simulacao_Envio}}
                </th>
                <td scope="row" class="no-wrap" (click)="rowClick(e,i,dialogDetalhes)">
                  {{e?.idSolicitacao_PUSH}}
                </td>
                <td scope="row" class="no-wrap" (click)="rowClick(e,i,dialogDetalhes)">
                  {{e?.idSolicitacao_PUSHNavigation.wF_GECRM}}
                </td>
                <td scope="row" class="no-wrap" (click)="rowClick(e,i,dialogDetalhes)">
                  {{e?.data  | date:'dd/MMM/yyyy'}}
                </td>
                <td scope="row" class="no-wrap" (click)="rowClick(e,i,dialogDetalhes)">
                  {{e?.horaFormatado}}
                </td>
                <td scope="row" class="mensagem-limite" (click)="rowClick(e,i,dialogDetalhes)">
                  {{e?.idSolicitacao_PUSHNavigation?.mensagem}}
                </td>
                <td scope="row" class="no-wrap" (click)="rowClick(e,i,dialogDetalhes)">
                  {{e?.quantidade | number:'0.':'pt-BR'}}
                </td>
                <td scope="row" class="mensagem-limite" (click)="rowClick(e,i,dialogDetalhes)">
                  {{e?.nome_Arquivo}}
                </td>
                <td scope="row" class="mensagem-limite" (click)="rowClick(e,i,dialogDetalhes)">
                  {{e?.idSolicitacao_PUSHNavigation.impactos_Previstos}}
                </td>
                <td scope="row" *ngIf="[1,3].indexOf(usuario.user.idRole)>=0">
                  <nb-toggle [ngModel]="e?.enviado" (ngModelChange)="changeCheckEnviado(e,$event)" status="success"></nb-toggle>
                </td>
                <td scope="row" class="no-wrap" (click)="rowClick(e,i,dialogDetalhes)">
                  <nb-icon icon="command" pack="gecdi-icons" class="size2rem"></nb-icon>
                </td>
                <td scope="row" *ngIf="usuario.user.idRole===1">
                  <nb-toggle [ngModel]="e?.cancelado" (ngModelChange)="changeCheckCancelado(e,$event)" status="warning"></nb-toggle>
                </td>

                <td *ngIf="usuario.user.idRole===1">
                  <button nbButton ghost *ngIf="!e?.enviado" (click)="excluirEnvio(e,dialogExcluir);">
                    <nb-icon icon="trash" pack="eva" status="danger"></nb-icon>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot class="row-title">
              <tr class="row-title">
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col"></td>
                <td scope="col">{{MensagensDistintas}} mensagens distintas</td>
                <td scope="col">{{QtdTotalPush | number:'0.':'pt-BR'}}</td>
                <td scope="col">{{QtdEnvios}} envios</td>
                <td scope="col">{{QtdEnviosEfetivados}} envios efetivados</td>
                <td scope="col" *ngIf="[1,3].indexOf(usuario.user.idRole)>=0"></td>
                <td scope="col"></td>
                <td scope="col" *ngIf="usuario.user.idRole===1"></td>
                <td scope="col" *ngIf="usuario.user.idRole===1"></td>
              </tr>
            </tfoot>
          </table>

        </nb-card-body>

        <nb-card-footer>
          Footer
        </nb-card-footer>
      </nb-card>

    </div>
  </div>

</div>


<!-- <ngx-dialog-envio #diag [envio]="EnvioSelecionado" [position]="posicao" [listaEnvios]="envios | async"></ngx-dialog-envio> -->

<ng-template #dialogExcluir let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Confirmar Exclusão</nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary" (click)="ref.close()">Não</button> &nbsp;&nbsp;
      <button #BotaoExcluir nbButton status="danger"
        (click)="deletarEnvio(dialogExcluir,ref,BotaoExcluir);">Sim</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template #dialogDetalhes let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <div class="float-left">
        <h4>Detalhes do Envio <b class="brown">{{ EnvioSelecionado?.idSolicitacao_Simulacao_Envio }}</b>:
          Dia <b class="brown">{{ EnvioSelecionado?.data  | date:'dd/MMM/yyyy' }}</b> /
          Horário: <b class="brown">{{ EnvioSelecionado?.horaFormatado }}</b>
        </h4>
      </div>
      <div class="float-right">
        <button nbButton ghost (click)="ref.close()">
          <nb-icon icon="close-outline" pack="eva"></nb-icon>
        </button>
      </div>
    </nb-card-header>
    <nb-card-body class="dialogLarge">
      <p>
        Mensagem: <b class="brown">{{ EnvioSelecionado?.idSolicitacao_PUSHNavigation?.mensagem }}</b>
        <button nbButton ghost
          (click)="copiaTextoClipboard(EnvioSelecionado.idSolicitacao_PUSHNavigation?.mensagem.trim())">
          <nb-icon icon="copy-outline" pack="eva" status="primary"></nb-icon>
        </button>
      </p>
      <p>Impactos Previstos: <b
          class="brown">{{ EnvioSelecionado?.idSolicitacao_PUSHNavigation?.impactos_Previstos }}</b></p>
      <p>Arquivo: <b class="brown">{{ EnvioSelecionado.nome_Arquivo }}</b></p>
      <p>Registros: <b class="brown">{{ EnvioSelecionado.quantidade }}</b></p>
      <p>
        Comando PowerShell: <b class="brown">{{ EnvioSelecionado.comando_PowerShell }} </b>
        <button nbButton ghost (click)="copiaTextoClipboard(EnvioSelecionado.comando_PowerShell.trim())">
          <nb-icon icon="copy-outline" pack="eva" status="primary"></nb-icon>
        </button>
      </p>
      <P *ngIf="[1,3].indexOf(usuario.user.idRole)>=0">
        <nb-toggle [ngModel]="EnvioSelecionado?.enviado" (ngModelChange)="changeCheckEnviado(EnvioSelecionado,$event)"
          status="success">Marcar envio como concluído</nb-toggle>
      </P>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary" (click)="ref.close()">Fechar</button> &nbsp;&nbsp;
      <div class="float-right">
        <button nbButton (click)="getPosition(-1)" *ngIf="PosicaoSelecionada > 0">
          <</button> {{ PosicaoSelecionada + 1 }} <button nbButton (click)="getPosition(+1)"
            *ngIf="PosicaoSelecionada < envios.length-1">>
        </button>
      </div>

    </nb-card-footer>
  </nb-card>
</ng-template>
