<div class="row">
  <div class="col-sm-12">

    <nb-card>
        <nb-card-header>
          <h1><nb-icon icon="whatsapp" pack="gecdi-icons" class="font-2_25rem"></nb-icon> Informe Whatsapp</h1>
        </nb-card-header>

        <nb-card-body>

          <div class="holder">
            <div class="bar" *ngFor="let item of data">
              <div #bar class="positive">
                <div class="size" [style.width.px]="getWidth(item, bar)">
                  {{item}}
                </div>
              </div>
            </div>
          </div>

        </nb-card-body>

        <nb-card-footer>

        </nb-card-footer>
    </nb-card>

  </div>
</div>


