nb-card {    
    max-height: 90vh ;
    max-width: 90vw ;   
    min-height: 90vh ;
    min-width: 90vw ;   
}

.input-template {
    min-width: 20rem;
}

.hand {
    cursor: pointer;
}

.margin-left-2em {
    margin-left: 2em;
}