<ng-template #dialog let-data let-ref="dialogRef" class="template-chamado">
  <nb-card class="dialog-card">
      <nb-card-header>
        SOLICITAÇÃO
      </nb-card-header>
      <nb-card-body>
        <ngx-detalhes-solicitacao #detalhes [solicitacao]="solicitacao"></ngx-detalhes-solicitacao>
      </nb-card-body>
      <nb-card-footer>
        <div class="float-right">
            <button nbButton (click)="salvarSolicitacao(ref)">Salvar</button>
               &nbsp;&nbsp;
            <button nbButton (click)="ref.close()">Fechar</button>
        </div>
      </nb-card-footer>
  </nb-card>
</ng-template>
