[req]
default_bits = 2048
prompt = no
default_md = sha256
x509_extensions = v3_req
distinguished_name = dn

[dn]
C = BR
ST = Brasilia
L = Plano Piloto
O = CAIXA
OU = GECDI02
emailAddress = gecdi02@caixa.gov.br
CN = localhost

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost