<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect Portal" stopProcessing="true">
          <match url=".*" />
          <action type="Redirect" url="https://portal.azure.com/#@caixa.onmicrosoft.com/dashboard/arm/subscriptions/b9ffc0f0-7047-406e-b7dc-19a5580e7151/resourcegroups/dashboards/providers/microsoft.portal/dashboards/f6790649-0fd2-4418-9101-5848338a309d" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
<!--ProjectGuid: 7046C05B-761E-4BCF-B5B1-DA58CFD4A07A-->